rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Função auxiliar para verificar autenticação
    function isAuthenticated() {
      return request.auth != null;
    }

    // Função auxiliar para verificar se o usuário está acessando seus próprios dados
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    // Função auxiliar para verificar se o usuário é um administrador
    function isAdmin() {
      return isAuthenticated() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['Admin', 'Master'];
    }

    // Permitir leitura em documentos gerais para usuários autenticados
    match /{document=**} {
      allow read: if isAuthenticated();
    }
    
    // Regras específicas para coleções
    match /users/{userId} {
      allow read: if isAuthenticated();
      allow write: if isOwner(userId) || isAdmin();
    }
    
    match /products/{productId} {
      allow read: if true;  // Leitura pública permitida
      allow write: if isAuthenticated();  // Escrita apenas para usuários autenticados
    }
    
    match /orders/{orderId} {
      allow read, write: if isAuthenticated();  // Apenas para usuários autenticados
    }

    match /bots/{botId} {
      allow read: if isAuthenticated();
      allow write: if isAdmin();  // Apenas administradores podem modificar bots
    }
    
    match /user_settings/{settingId} {
      allow read, write: if isOwner(settingId) || isAdmin();  // Acesso permitido ao dono ou admin
    }

    match /users/{userId}/produtosImportados/{document=**} {
      allow read, write: if isOwner(userId) || isAdmin(); // Apenas o dono ou admin pode ler/escrever
    }
  }
}